<div class="dashboard-profile-info-container">
    <div id="dashboard-profile-info-loader">
        <p>Loading..</p>
    </div>
    <div id="dashboard-profile-info-content" style="display: none;">

        <div class="media">
            <img id="dashboard-profile-info-img">
            <div class="media-body">

                <h5 id="dashboard-profile-info-name"></h5>
                <button class="btn btn-default">Orange farmer</button>

            </div>
        </div>
        
</div>
</div>
